[user]
    name = Joshua Arulsamy
    email = joshua.gf.arul@gmail.com

[dotEngine]
    username = jarulsamy

[delta]
    side-by-side = true
    syntax-theme = gruvbox-dark

[diff]
    tool = vimdiff

[delta]
    features = side-by-side line-numbers decorations
    syntax-theme = gruvbox-dark

[color]
    diff = auto
    status = auto
    branch = auto

[color "status"]
    added = green
    changed = blue
    untracked = red

[color "diff"]
    meta = yellow
    old = red
    new = green

[core]
    editor = vim
    mergeoptions =

[pager]
    diff = delta
    log = delta
    reflog = delta
    show = delta

[push]
    default = current

[pull]
    rebase = false

[giggle]
    main-window-maximized = false
    main-window-geometry = 1269x839+117+89

[include]
    path = .gitlocal

[alias]
    lg1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
    lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
    lg = !"git lg1"
    fixme = grep -n --heading --break --ignore-case -e 'FIX: *' -e 'FIXME: *'
    todo  = grep -n --heading --break --ignore-case -e 'TODO: *'

[includeIf "gitdir:workRepos/"]
    path = .gitconfig-work
